
/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    background-color: var(--bg-color);
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

/* Margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
    /* Add a background color or image */
    background-color: var(--bg-color); /* see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    color: var(--text-color);
    font-family: Tahoma, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */


}


/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

nav {
    margin-bottom: 3rem;
}
.navbar .hamburger-menu {
    display: none;
}


.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 3rem;
    background-color: #FF8C36;
}

.navbar ul li {
    float: left;
    margin: 0 0.4rem 0.2rem 0;
    padding: 0.4rem
}

.navbar ul li a {
    display: block;
    color: white;
    padding: 0.3rem;
}

.navbar ul li a:hover {
   border: 1px white solid;
   text-decoration: none;
   box-shadow: 0 0 2px white, 0 0 4px white;
}


/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/


h1 {
    text-align: center;
    font-size: clamp(3.5rem, 60%, 5rem);
    font-family: "Luckiest Guy","Impact";
    color: #FF8C36
}
h2 {
    text-align: center;
}

.header-container h3 {
    color: blue;
    font-family: 'Quicksand", "Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: clamp(1.8rem, 70%, 2.5rem);
    font-weight: 1000;
    text-align: center;
    padding-top: 0.9rem;
}

/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/



.header-container { /* Example A: This styles elements with class="header" */
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    margin-bottom: 1.3rem;
    margin-top: 1.5rem;
    text-align: center;
}

#header-img {
    margin-left: 4rem;
    margin-right: 4rem;
    width: 120px;
    max-width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 1.8rem;
}

.header-button {
    /* Example Style, replace with your own! */
    background-color: #FF8C36;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
    margin: 0.6rem;
    font-size: clamp(1.5rem, 40%, 2.8rem);
}

.header-button:hover {
    /* Make the button look different when the user hovers over it */
    text-decoration: underline;
}

/* CSS code for expectations button */
.expectations-info {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.3rem;
}

.expectations-info h3, .expectations-info h4 {
    margin-bottom: 0.5rem;
}


/* CSS code for primary events button */
.primary-events-container {
    display: none;
}

.primary-events-container h3 {
    text-align: center;
}

.primary-events {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

/* CSS code for the main section */
main {
    padding: 0px 40px 50px 40px;
}

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.event-info-container {
    margin-bottom: 2rem;
}
.event-info {
    margin-bottom: 1.2rem;
}

.event-description {
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
}

.event-description p {
    margin-bottom: 0.4rem;
}

/* Iframe Event to style the video */

.video-wrapper {
    display: flex;
    justify-content: center;
}

.video-container {
    position: relative;
    width: 75%;
    aspect-ratio: 16 / 9;
}

.video-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}




/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

#event-schedule {
    margin-top: 2.4rem;
}

.event-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.event-container .event-item img{
    height: 13rem;
}

.event-item {
    border: 4px #FF5F1F solid;
    border-radius: 1.3rem;
    background-color: #F7F7F7;
    box-shadow: 0 0 10px #FF5F1F;
    margin: 1.5rem;
    min-width: 10rem;
    height: auto;
    transition: scale 1s ease-in-out;
    overflow: hidden;
    padding: 0 0.3rem 0.4rem 0.3rem;

}

.event-item:hover {
    scale: 1.05;
}

.event-item img {
    display: block;
    margin: auto;
    width: 100%;
    object-fit: cover;
}

.event-item h3 {
    margin-top: 1.0rem;
    text-align: center;
    color: black;
} 

.event-item p {
    width: 100%;
    color: black;
    padding-left: 0.8rem;
    padding-right: 0.2rem;
}

/* Show more button margin */
#view-button-container {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
}

#view-button {
    padding-top: 0.4rem;
    margin-bottom: 1.2rem;
    margin-top: 0.3rem;
    margin-bottom: 2.2rem;
}


/* Extra Events section: 
    I want to hide 6 of the events and 
    display them with JS */
#extra-events {
    display: none;
}


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

#links {
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;;
}
.block article {
    margin-bottom: 2rem;

}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: gray;
    text-decoration: underline;
}



/*** RSVP Section ***

  
  Purpose:
  - Add style rules for your website's RSVP form



  When To Modify:
  - [ ] Project 6 (REQUIRED FEATURE)
  - [ ] Project 7 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.form-container {
    margin-bottom: 3rem;
}

.form-container h3 {
    text-align: center;
    margin-bottom: 0.9rem;
}

.form-container .form-field {
    margin-bottom: 1.2rem;   
}

#rsvp-form {
    display: flex;
    align-items:  center;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field input {
    height: 1.8rem;
    border-radius: 4px;
    width: 100%;
}



.submit-button {
    display: flex;
    justify-content: center;
}

.submit-button button {
    background-color: #FF8C36;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;
    width: clamp(6rem, 56%, 10rem)       
}

.submit-button button:hover {
    text-decoration: underline;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background-color: pink;

  /* Set border-color and background */
}


.rsvp-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding-bottom: 50px;
}

.rsvp-para {
    width: 55%;
    padding-right: 10px;
}

.rsvp-participants {
    width: 45%;
    padding-right: 10px;
}

/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FF8C36;
  padding-bottom: 0.5rem;
}

.footer a {
    color: white;
    margin-left: 0.4rem;
    
}


/* Add other rsvp-related selectors here */

/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/

/* Default dark mode style */

#theme-button {
    background-color: #FF8C36;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    padding-top: 0.3rem;
    border: none;
}

#theme-button:hover {
    cursor: pointer;
}

#theme-button img {
    height: 1.4rem;
}


.dark-mode {
    background-color: #1E1E1E;
    color: white;
    margin: 0;
}

/* Example: Different dark mode style for h1 */
.dark-mode .header-item h1 {
    color: #E67E22;
}

.dark-mode .header-item h3 {
    color: #A9B1D6;
}

.dark-mode .event-item {
    border: 3px solid orange;
}

.dark-mode #links {
    color: white;
}

.dark-mode .block article h3, .dark-mode .block article p {
    color: white;
}
/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {

}



/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #ffffff;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: 1E1E1E;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}

@media (max-width: 700px) {

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-button {
        width: 70%;
    }

    .event-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .primary-events {
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width: 470px) {
    .event-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

