
/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

/* Margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
    /* Add a background color or image */
    background-color: var(--bg-color); /* see bottom of file for color variables */
    padding-top: 50px;
    /* Customize the default size, color, and font for text*/
    color: var(--text-color);
    font-family: Tahoma, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */
}

.no-motion * {
    animation: none !important;
    transform: none !important;
}


/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

nav {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    background-color: #FF8C36;
    min-height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.navbar #hamburger-menu {
    display: none;
    
}

#navbar-items {
    display: flex;
}

.navbar ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: 0.2rem;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0;
    margin-right: 0.4rem;
    margin-bottom: 0.3rem;
    padding: 0rem;
    height: 50px;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    color: white;
    padding: 0.4rem;
    height: 100%;
    font-size: 1rem;
    margin-left: 0.4rem;
}

.navbar ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #E67624;
    height: 100%;
    padding: 0 0.5rem;
    font-size: 1rem;
    border: none;
    margin-top: 2px;
    border-radius: 12px;


}

.navbar ul li button:hover {
   text-decoration: underline;
   cursor: pointer;
}



.navbar ul li a:hover {
   border: 1.4px white solid;
   text-decoration: none;
   box-shadow: 0 0 2px white, 0 0 5px white;
}






/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/


.header-container h1 {
    text-align: center;
    font-size: clamp(3.5rem, 60%, 5rem);
    font-family: "Luckiest Guy","Impact";
    color: #FF8C36
}
h2 {
    text-align: center;
}

.header-container h3 {
    color: blue;
    font-family: "Quicksand", "Trebuchet MS", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: clamp(1.8rem, 70%, 2.5rem);
    font-weight: 1000;
    text-align: center;
    padding-top: 0.9rem;
}

/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/



.header-container { /* Example A: This styles elements with class="header" */
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    margin-bottom: 1.3rem;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

#header-img {
    margin-left: 4rem;
    margin-right: 4rem;
    width: 120px;
    max-width: 100%;
}

/* The button container for the header-button and show-more button */
.button-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.8rem;
}

.header-button {
    /* Example Style, replace with your own! */
    background-color: #FF8C36;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
    margin: 0.6rem;
    font-size: clamp(1.5rem, 40%, 2.8rem);
    height: clamp(2.3rem, 10vh, 4.4rem);
    width: clamp(20.4rem, 40vw, 28.2rem);
}

.header-button:hover {
    /* Make the button look different when the user hovers over it */
    text-decoration: underline;
}

/* CSS code for expectations button */
.expectations-info {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.8rem;
}

.expectations-info h3,  .primary-events-container h3 {
    margin-bottom: 0.7rem;
    font-size: clamp(1.5rem, 30%, 2.2rem);
}

.expectations-info h4 {
    margin-bottom: 0.7rem;
    font-size: clamp(1.1rem, 23%, 1.6rem);
}

.expectations-info li {
    margin-bottom: 0.4rem;
}

.expectations-info li b, .expectations-info li i {
    font-size: clamp(1.0rem, 20%, 1.5rem);
}

/* CSS code for primary events button */
.primary-events-container {
    display: none;
    margin-top: 1.5rem;
}

.primary-events-container h3 {
    text-align: center;
}

.primary-events {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


/* CSS code for the main section */
main {
    padding: 0px 40px 50px 40px;
}

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.event-info-container {
    margin-bottom: 2rem;
}
.event-info {
    margin-bottom: 1.2rem;
}

.event-description {
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
}

.event-description p {
    margin-bottom: 0.4rem;
}

/* Iframe Event to style the video */

.video-wrapper {
    display: flex;
    justify-content: center;
}

.video-container {
    position: relative;
    width: 75%;
    aspect-ratio: 16 / 9;
}

.video-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}




/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

#event-schedule {
    margin-top: 2.4rem;
}

.event-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.event-container .event-item img{
    height: 13rem;
}

.event-item {
    border: 4px #FF5F1F solid;
    border-radius: 1.3rem;
    background-color: #F7F7F7;
    box-shadow: 0 0 10px #FF5F1F;
    margin: 1.5rem;
    min-width: 12rem;
    height: auto;
    transition: scale 1s ease-in-out;
    overflow: hidden;
    padding: 0 0.3rem 0.4rem 0.3rem;

}

.event-item:hover {
    scale: 1.05;
}

.event-item img {
    display: block;
    margin: auto;
    width: 100%;
    object-fit: cover;
}

.event-item h3 {
    margin-top: 0.5rem;
    text-align: center;
    color: black;
} 

.event-item p {
    width: 100%;
    color: black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Show more button margin */
#view-button-container {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
}

#view-button {
    padding-top: 0.4rem;
    margin-bottom: 1.2rem;
    margin-top: 0.3rem;
    margin-bottom: 2.2rem;
}


/* Extra Events section: 
    I want to hide 6 of the events and 
    display them with JS */
#extra-events {
    display: none;
}


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

#links {
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;;
}
.block article {
    margin-bottom: 2rem;

}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: gray;
    text-decoration: underline;
}



/*** RSVP Section ***

  
  Purpose:
  - Add style rules for your website's RSVP form



  When To Modify:
  - [ ] Project 6 (REQUIRED FEATURE)
  - [ ] Project 7 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.form-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.form-container {
    margin-bottom: 3rem;
}

.form-container h3 {
    text-align: center;
    margin-bottom: 0.9rem;
}

.form-container .form-field {
    margin-bottom: 1.2rem;   
}

#rsvp-form {
    display: flex;
    align-items:  center;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 14rem;
}

.form-field input, .form-field select {
    height: 2.2rem;
    border-radius: 4px;
    width: 100%;
    border: 2px black solid;
    font-size: 1.1rem;
}


.submit-button {
    display: flex;
    justify-content: center;
}

.submit-button button {
    background-color: #FF8C36;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;
    font-size: clamp(1.1rem, 40%, 1.7rem);
    width: clamp(10rem, 56%, 13rem);
    height: 2.2rem;      
}

.submit-button button:hover {
    text-decoration: underline;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background-color: pink;

  /* Set border-color and background */
}


.rsvp-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding-bottom: 50px;
}

.rsvp-para {
    width: 55%;
    padding-right: 10px;
}

.rsvp-participants {
    width: 45%;
    padding-right: 10px;
}

/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FF8C36;
  padding-bottom: 0.5rem;
}

.footer a {
    color: white;
    margin-left: 0.4rem;
    
}


/* Add other rsvp-related selectors here */


/*** Animations  ***
  
  Purpose:
  - Add style rules to enable scroll animations for your website

  When To Modify:
  - [ ] Project 8 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.revealable {
  --reveal-distance: 50px; /* CSS Variable */

  scroll-margin-top: var(--reveal-distance);
  opacity: 0;
  transition: all 2.5s ease;
  position: relative;
}
.revealable:not(.active) {
  transform: translateY(var(--reveal-distance));
}

.active {
  scroll-margin-top: 0px;
  transform: translateY(0);
  opacity: 1.0;
}

/*** Success Modal  ***
  
  Purpose:
  - Add style rules to your website's pop-up modal, which appears
    when a user successfully submits the RSVP form

  When To Modify:
  - [ ] Project 9 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.modal {
  display: none;   /* modal should be hidden by default*/
  position: fixed; /* modal cannot move around the screen */
  z-index: 2;      /* modal appears above other elements */ 
  
  /* TODO: Make the modal fill the entire screen */
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  /* Add a semi-transparent background to shadow non-modal elements*/
  background-color: rgba(0,0,0,0.5); /* 40% opacity black */

  /* Flexbox settings for modal */
  /* These won't apply until we update "display:" from "hidden" to "flex" in our JS */
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.modal-container {
    /* Change modal size and spacing here */
    width: 70%;
    height: 60%;
    min-width: 200px;
    min-height: 100px;


    /* Customize modal style here */
    background-color: white;
    border: 1px solid #FF8C36;
    box-shadow: 0 0 3px #FF8C36, 0 0 6px #FF8C36;
    color: black;
    text-align: center;
    font-size: 1.3rem;
    font-family: monospace;

    /* Optional: Use flexbox to customize .modal-item layout */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}
.close-button {
    align-self: flex-end;
}

.close-button:hover {
    cursor: pointer;
}

.modal-item {
    display: flex;
    justify-content: center;
    padding-right: 30px;
    padding-left: 30px
}

.modal-item p {
    margin-bottom: 1.4rem;
    font-size: clamp(1.3rem, 30%, 1.7rem);
}

.modal-item img {
    /* Optional: Style individual elements within the modal */
    width: clamp(6rem, 40%, 20rem)
}


/* Default dark mode style */

#theme-button {
    background-color: #FF8C36;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    padding-top: 0.3rem;
    border: none;
}

#theme-button:hover {
    cursor: pointer;
}

#theme-button img {
    height: 1.4rem;
}


.dark-mode {
    background-color: #1E1E1E;
    color: white;
    margin: 0;
}

/* Example: Different dark mode style for h1 */
.dark-mode .header-item h1 {
    color: #E67E22;
}

.dark-mode .header-item h3 {
    color: #A9B1D6;
}

.dark-mode .event-item {
    border: 3px solid orange;
}

.dark-mode #links {
    color: white;
}

.dark-mode .block article h3, .dark-mode .block article p {
    color: white;
}


/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #ffffff;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #1E1E1E;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}

@media (max-width: 700px) {

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-button {
        width: 70%;
    }

    .event-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .primary-events {
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width: 580px) {
    /* Navbar  */
    /* Hiding navbar  */
    .navbar #hamburger-menu {
        display: block;
        position: fixed;
        right: 8px;
        top: 8px;
    }

    #navbar-items {
        display: none;
        flex-direction: column;
        width: 100%;
        z-index: 1001;
        position: absolute;
        top: 3rem;
        background-color: #FF8C36;
        align-items: center;
        justify-content: center;
    }

    #navbar-items.show {
        display: flex;
        max-height: 300px;
    }

    #navbar-items li, #navbar-items button {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #navbar-items.show a {
        display: block;
        padding: 0.8rem;
        text-align: center;
        color: white;   
    }



    .navbar #hamburger-menu:hover {
        cursor: pointer;
    } 
}
 
@media (max-width: 440px) {
    .event-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    html {
        font-size: 12px;
    }
}

@media (max-width: 330px) {
        /* Changing text font */
    html {
        font-size: 10px;
    }
    main {
        padding: 20px;
    }

    .rsvp-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}

@media (max-width: 290px) {
    html {
        font-size: 8px;
    }
}